body { 
	padding-top: 25px;
	text-align: center 
}

li {
	margin: 10px 0;
}

.logout_button {
	margin-left: 1000px;
}

.dash_username {
	color: gray
}

.fcc-btn {
	background-color: #199319;
  	color: white;
  	padding: 15px 25px;
  	text-decoration: none;
	border-radius: 5px;
}

.dash_form {
	padding: 25px;
}

.containers{
	display: flex;
	justify-content: space-between;
}

.gridContainer {
	width: 900px;
	height: 600px;
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	margin-left: 50px;
	margin-bottom: 25px;
	gap: 0;
	border: 5px solid #000000
}

.moveListContainer {
	width: 400px;
	height: 600px;
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 5px solid #000000
}

.rowContainer {
	height: 75px;
	display: flex;
	flex-direction: row;
	gap: 0;
	padding: 0px;
	border: 1px solid #000000
}

/* Transfer Wrappers */
.containerButtonWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 12.5%;
	transition-duration: 0.4s;
	background-color: #2664F5;
	color: white;
	border: 1px solid #000000;
}

.unavailableSlotWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 12.5%;
	background-color: #000000;
	color: white;
	border: 1px solid #000000;
}

.emptySlotWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 12.5%;
	transition-duration: 0.4s;
	background-color: #FFFFFF;
	border: 1px solid #000000;	
}

/* Balance Wrappers*/

.nonClickContainerWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 12.5%;
	transition-duration: 0.4s;
	background-color: #2664F5;
	color: white;
	border: 1px solid #000000;
}

.nonClickUnavailableSlotWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 12.5%;
	background-color: #000000;
	color: white;
	border: 1px solid #000000;
}

.nonClickemptySlotWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 12.5%;
	transition-duration: 0.4s;
	background-color: white;
	border: 1px solid #000000;		
}

/* Form container */
.formContainer{
	width: 1424px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Comment Box Class and Wrapper */
.boxTitle {
	display: flex;
	color: black;
	height: 50px;
	width: 900px;
	justify-content: center;
	align-items: center;
	margin-left: 50px;
}

h2 {
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.commentBoxWrapper {
	margin-left: 50px;
	display: flex;
	width: 900px;
	height: 48px;
}

.commentBoxWrapper input[type="text"] {
	background-color: #608ba8;
	flex: 1 1 auto;
	vertical-align: text-top;
}

/* Submit button wrapper */

.submitWrapper {
	width: 100px;
	height: 50px;
	padding-left: 75px;
	padding-bottom: 100px;
}
.submitWrapper input[type="submit"] {
	width: 100px;
	height: 50px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 4px;
	background-color: #1DA1F2;
	color: white;
	cursor: pointer;
	justify-content: center;
}

.nextWrapper {
	width: 100px;
	height: 50px;
	padding-right: 75px;
	padding-bottom: 100px;
}
.nextWrapper input[type="submit"] {
	width: 100px;
	height: 50px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 4px;
	background-color: #1DA1F2;
	color: white;
	cursor: pointer;
	justify-content: center;
}
.formClass{
	font: 1.2em Helvetica, Arial, sans-serif;
}

/* Transfer Form classes */

.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}

.form-style-1 input[type=text] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	outline: none;	
}

.form-style-1 input[type=text]:focus {
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}

.form-style-1 .field-long{
	width: 100%;
}

.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}

.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.form-style-1 .required{
	color:red;
}