<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href='/static/style.css' />
		<title>Balancing Service</title>
	</head>

	<body>
		<p>To be completed </p>
		<div class="gridContainer">
			{% for row in ship_grid %}
				<div class="rowContainer">
				{% for slot in row %}
					{% if slot.hasContainer == True and slot.available == False %}
						{% if slot.container.name_check == True %}
							<div class="containerButtonWrapper" id="{{slot.container.name_adj[0]}}" onclick="TurnRed(this.id)">{{slot.container.name_adj[0]}}</div>
						{% else %}
							<div class="containerButtonWrapper"id="{{slot.container.name}}" onclick="TurnRed(this.id)">{{slot.container.name}}</div>
						{% endif %}
					{% elif slot.hasContainer == False and slot.available == False %}
						<div class="unavailableSlotWrapper"></div>
					{% else %}
						<div class="emptySlotWrapper" id="" onclick="TurnGreen()"></div>
					{% endif %}
				{% endfor %}
				</div>
			{% endfor %}
		</div>
	</body>
	<script src="{{ url_for('static', filename='grid.js') }}"></script>
</html>
