<!DOCTYPE html>
<html>
	<head> 
		<link rel="stylesheet" href='/static/style.css' />
		<title>Dashboard</title> 
	</head>
	<body>
		<div class="logout_button">
			<a href="login">
				<button>Log Out</button>
			</a>
		</div>
		<h1>Welcome to the Dashboard <div class="dash_username">{{username}} </div></h1>	
		<div class="dash_form">
			<h3>Upload Manifest</h3>
				<form action = "http://localhost:5000/service" method = "POST" enctype = "multipart/form-data">
					<input type="file" name="file" required/>
				<h3>Select a Service</h3>
					<label for="R1">Transfer</label>
					<input type="Radio" name="services" id="R1" value="Transfer">
					
					<label for="R2">Balance</label>
					<input type="Radio" name="services" id="R2" value="Balance">
					<input type="submit" value="Submit"/>
				</form>
		</div>
	</body>
</html>