<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href='/static/style.css' />
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
		<title>Transfer Service</title>
		<script type="text/javascript"> var starttransferURL = "{{ url_for('starttransfer') }}"; </script>
		<script src="{{ url_for('static', filename='grid.js') }}"></script>
	</head>

	<body>
		<h1> Transfer Service </h1>
		<div class="containers">
			<div class="gridContainer">
				{% for i,row in enumerate(ship_grid) %}
					<div class="rowContainer">
					{% for j,slot in enumerate(row) %}
						{% if slot.hasContainer == True and slot.available == False %}
							{% if slot.container.name_check == True %}
								<div class="containerButtonWrapper" id="{{slot.container.name_adj[0]}}" onclick="UnloadContainer(this.id,{{i}},{{j}})" data-weight="{{slot.container.weight}}">{{slot.container.name_adj[0]}}</div>
							{% else %}
								<div class="containerButtonWrapper"id="{{slot.container.name}}" onclick="UnloadContainer(this.id,{{i}},{{j}})" data-weight="{{slot.container.weight}}">{{slot.container.name}}</div>
							{% endif %}
						{% elif slot.hasContainer == False and slot.available == False %}
							<div class="unavailableSlotWrapper"></div>
						{% else %}
							<div class="emptySlotWrapper" id="[{{i}},{{j}}]" onclick="LoadContainer(this.id)"></div>
						{% endif %}
					{% endfor %}
					</div>
				{% endfor %}
			</div>
			<div class="moveListContainer"></div>
		</div>
		<div class="boxTitle"> <h2>Comment Box</h2> </div>
			<!-- <form class="formClass" action="http://localhost:5000/starttransfer" method="POST" enctype="multipart/form-data"> -->
				<div class="formContainer">
					<div class="commentBoxWrapper">
						<input type="text" id="commentBoxId">
					</div>
					<div class="submitWrapper">
						<input type="submit" value="Next" onclick="FinalizeUnloadContainers();">
					</div>
				</div>
			<!-- </form> -->
	</body>
	<!-- <script src="{{ url_for('static', filename='grid.js') }}"></script> -->
</html>
